<%- include('particles/header.ejs') %>


    <%- include('particles/navigation.ejs') %>

    <form action="/create" method="post">

        <select name="checkstorage">
        <% for (let i=0; i < storages.length; i++) { %>
        <option  value="<%= storages[i].id %>">
            

                <%= storages[i].title %>
         
        </option>
           
    <% } %>

</select>

        
///////////////////////////////////////M-N //////////////////////////   
        <% for (let i=0; i < products.length; i++) { %>
        
            <input type="checkbox" class="checkbox" name="products_check" value="<%= products[i].id %>">
            <label class="text-gray-700">
                <%= products[i].title %>
            </label>
           
    <% } %>
        <input type="submit"  value="create">
    </form>




<%- include('particles/footer.ejs') %>
